<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dastanapps.dastanlib.ui">

    <application android:name="com.dastanapps.dastanlib.DastanLibApp">
        <activity android:name=".LoggerActivity" />
        <activity android:name=".DWebView" />
    </application>
</manifest>
