<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dastanapps.dastanlib.utils">

    <application android:name="com.dastanapps.dastanlib.DastanLibApp">
        <!-- -[BEGIN FCM] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_default_channel" />

        <service android:name="com.dastanapps.dastanlib.push.MyFCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- -[END FCM] -->
    </application>
</manifest>
